/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fin du CSS Reset */

html {
  --blue-dark: #30475e;
  --blue-light: #7e8a97;
  --beige-dark: #cbaf87;
  --beige-light: #e7dec8;

  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Serif Pro", "Times New Roman", Times, serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Oswald, sans-serif;
}

h1 {
  font-size: calc(1rem + 10vw);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1;
}

h3 {
  font-size: 1.75rem;
}

nav a {
  background: var(--beige-light);
  color: var(--blue-dark);
  padding: 0.4rem;
  text-decoration: none;
}

header {
  align-items: center;
  background-color: var(--blue-dark);
  color: var(--beige-light);
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  padding: 10vw;
  text-align: center;
}

header h1 {
  margin-bottom: 1rem;
}

header a {
  color: var(--beige-light);
}

header a svg {
  fill: var(--beige-light);
  width: 0.75rem;
}

nav {
  background-color: var(--blue-light);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 2rem;
}

nav ul li {
  margin: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  transform: rotate(-10deg);
  animation: in 1s;
}

nav ul li:hover {
  transform: rotate(10deg);
  animation: out 1s;
}

nav ul li a {
  font-size: 1.5rem;
  padding: 0.5rem;
}

nav ul li a:hover {
  background: var(--blue-dark);
  color: var(--beige-light);
  transition: all ease-in-out 0.1s;
}

.skip-link {
  color: white;
  display: none;
  font-size: 0.8rem;
  left: 2rem;
  position: absolute;
  top: 2rem;
  z-index: 100;
}

main {
  background-color: var(--beige-dark);
  color: var(--blue-dark);
  padding: 1.3rem;
}

section.container {
}

section.container h2 {
  grid-row: span 10;
  position: sticky;
}

section.container p {
  font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 22px;
  }
}

@keyframes in {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

@keyframes out {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
