/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fin du CSS Reset */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Serif Pro", "Times New Roman", Times, serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Oswald, sans-serif;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: black;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  background: red;
  color: white;
  padding: 0.4rem;
  text-decoration: none;
}

header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  padding: 10vw;
  text-align: center;

  -webkit-box-shadow: 0px 10px 11px -6px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 10px 11px -6px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 10px 11px -6px rgba(0, 0, 0, 0.36);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 1rem;
  transform: rotate(-10deg);
}

nav ul li:hover {
  transform: rotate(10deg);
  transition: all ease-in-out 0.1s;
}

nav ul li a:hover {
  background: black;
  transition: all ease-in-out 0.1s;
}

.container a svg {
  fill: white;
  width: 0.75rem;
}

.skip-link {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 100;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 22px;
  }
}
